.admin-container {
    width: 90%;
    margin: 30px auto;
}

.admin-form {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 15px;
    margin-bottom: 30px;
}

.admin-form input {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

.admin-form button {
    padding: 12px;
    background: #0a7c2f;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.admin-table {
    width: 100%;
    border-collapse: collapse;
}

.admin-table th,
.admin-table td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: center;
}

.admin-table th {
    background: #0a7c2f;
    color: white;
}

.edit-btn {
    background: green;
    color: white;
    border: none;
    padding: 8px 15px;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.delete-btn {
    background: red;
    color: white;
    border: none;
    padding: 8px 15px;
    cursor: pointer;
    border-radius: 5px;
}